<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/stylehome.css">
    </head>
</head>

<body>
    <h1 class="title-home">{{ .Title }}</h1>
    <p class="message1">{{ .Message }}</p>
    <div class="form-container">
    <form action="/play" method="post">
    <input type="text" name="Joueur1" placeholder="Entrez pseudo joueur 1">
    <input type="text" name="Joueur2" placeholder="Entrez pseudo joueur 2">
    <button type="submit">Commencer une partie</button>
    </form>
     
    </div>
        <p class="message2">{{.Message2}}</p>
        <h2>Historique des parties</h2>
        <section>
  <table class="historic-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Joueur 1</th>
        <th>Joueur 2</th>
      </tr>
    </thead>
    <tbody>
      {{range .Historic}}
      <tr>
        <td>{{.Date}}</td>
        <td>{{.Joueur1}}</td>
        <td>{{.Joueur2}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</section>


<footer>
    <div class="footer-text">
    <nav>
        <div class="link-home">
            <a href="/home">Accueil</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>
    </div>
</footer>
</body>
</html>