<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/style.css">
    </head>
</head>

<body>
    <h1 class="title-home">{{ .Title }}</h1>
    <p class="message1">{{ .Message }}</p>
    <div class="form-container">
    <form action="/play" method="post">
    <input type="text" name="Joueur1" placeholder="Entrez pseudo joueur 1">
    <input type="text" name="Joueur2" placeholder="Entrez pseudo joueur 2">
    <button type="submit">Envoyer</button>
    </form> 
    </div>
        <p class="message2">{{.Message2}}</p>
        <h2>Historique des parties</h2>
        <section>
        <div class="historic-grid" >
            <p>Date</p>
            <p>Joueur 1</p>
            <p>Joueur 2</p>
            <p>Status</p>
            {{range .Historic}}
                <p>{{.Date}}</p>
                <p>{{.Joueur1}}</p>
                <p>{{.Joueur2}}</p>
                <p>{{.Status}}</p>
            {{end}}
        </div>
        </section>

<footer>
    <div class="footer-text">
    <nav>
        <div class="link-home">
            <a href="/home">Accueil</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>
    </div>
</footer>
</body>
</html>