<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <header>
        <div id="playertoken" style="display : {{.Visibility}};">
            <h1>{{.Title}}</h1>
            <div class="playercell" style="background-color: {{.Color}};"></div>
        </div>
    </header>

    <main>

        <div id="interactive" style="display : {{.Visibility}};">

            <form method="POST" action="/play">
                <div id="buttons" class="color">
                    <button type="submit" name="col" value="0">1</button>
                    <button type="submit" name="col" value="1">2</button>
                    <button type="submit" name="col" value="2">3</button>
                    <button type="submit" name="col" value="3">4</button>
                    <button type="submit" name="col" value="4">5</button>
                    <button type="submit" name="col" value="5">6</button>
                    <button type="submit" name="col" value="6">7</button>
                </div>

            </form>

            <table>
                {{range $row := .Grid}}
                <tr>
                    {{range $cell := $row}}
                    <td>
                        <div class="cell" {{if eq $cell 1}}style="background-color: yellow;" {{else if eq $cell
                            2}}style="background-color: red;" {{end}}></div>
                    </td>
                    {{end}}
                </tr>
                {{end}}
            </table>
        </div>

        <form method="POST" action="/reset">
            <button type="submit" id="rightside" style="border:none; background:none; padding:0;">
                <img src="../static/picture/refresh.svg" alt="réinitialiser la partie" />
            </button>
        </form>



        <div id="winningscreen" style="display : {{.TextVisibility}};">
            <p>{{.Winner}}</p>
            <form method="POST" action="/returnmenu">
                <button class="save">retourner au menu</button>
            </form>
        </div>

        <form method="POST" action="/save" style="display : {{.Visibility}};">
            <div id="savePlacement">
                <button class="save">Sauvegarder</button>
            </div>
        </form>

    </main>

</body>

</html>